.taskColumns-container {
  /* border: 2px solid black; */
  /* width: 500px; */
  /* height: 100vh; */
  display: grid;
  grid-template-rows: 100px 100px 1fr;
}

.columns-title{
  background-color: aqua;
}

.projectName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.colunmNamesRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  font-size: 2rem;
  padding-block: 1rem;
}
.columns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

#col-1 {
  border: 2px solid green;
}

#col-2 {
  border: 2px solid orange;
}
#col-3 {
  border: 2px solid pink;
}

/* .columns-container{
  display: flex;
  flex-direction:row;
} */